@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
    // background: rgb(0 100 0/.05);
}

body {
    color: #666666;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto; }

    //Partie du header
header{
    display: flex;
    justify-content: center;
}
nav{
    width: 88%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-block: 15px;

    .cache{
        display: none;
    }
   
    .site-logo {
        float: left;
    }
    
}

ul{
    display: flex;

li{
    display: flex;
    list-style: none;

    a {
        margin: auto;
        color: inherit;
        text-decoration: none;
        color: #000000;
        padding: 0px 25px;
        }
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        outline: none;
        color: inherit; }
      
    a:hover {
        color: #E55472; }

}


}

.header__option{
    float: right;
    display: flex;

    .cart.active{
        right: 0;
    }

    .cart{
        position: fixed;
        top: 0;
        right: 0;
        width: 360px;
        min-height: 100vh;
        padding: 20px;
        background: white;
        box-shadow: -2px 0 4px hsla(0, 4%, 18%, 0.1);
        z-index: 1;
        transition: 0.3s;

        .cart-title{
            font-size: 25px;
            font-weight: 600;
            color: #000000;
            margin-top: 32px;
        }

            .cart-box{
                display: grid;
                grid-template-columns: 32% 50% 18%;
                align-items: center;
                gap: 24px;
                margin-top: 16px;

                .cart-img{
                    height: 100px;
                    width: 100px;
                    object-fit: contain;
                    padding: 10px;
                }

                .detail-box{
                    display: grid;
                    row-gap: 8px;

                    .cart-product-title{
                        font-size: 16px;
                        text-transform: uppercase; 
                    }

                    .cart-price{
                        font-weight: 500;
                    }

                    .cart-quantity{
                        border: 1px solid black;
                        outline-color: red;
                        width: 39px;
                        text-align: center;
                        font-size: 16px;
                    }
                }

                .cart-remove{
                    font-size: 24px;
                    color: red;
                    cursor: pointer;
                }
            }
        
            .total{
                display: flex;
                justify-content: space-between;
                margin-top: 24px;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                font-size: 24px;
                padding-top:7px;
                padding-bottom: 7px;

                .total-title{
                    color: black;
                }

                .total-price{
                    color: #E55472;
                }

            }
            .bt{
                display: flex;
                justify-content: space-between;
                .btn-view{
                    margin-top: 30px;
                        color: white;
                        background-color: #E55472;
                        font-size: 15px;
                        border: none;
                        width: 100px;
                        height: 40px
                }
    
                .btn-checkout{
                    margin-top: 30px;
                        color: white;
                        background-color:#272829;
                        font-size: 15px;
                        border: none;
                        width: 100px;
                        height: 40px
                }
            }

            #close-cart{
                position: absolute;
                top: 55px;
                right: 13px;
                font-size: 24px;
                color: #000000;
                cursor: pointer;
            }
            
    }
    a{
        span{
            // height: 37.5px;
            text-align: center;
            // line-height: 35px;
           
        }
        &:last-child{
            display: flex; 
            padding-bottom: 10px;

        }
    }

    span.handbag::before {
        content: "2";
        background: red;
        width: 18px;
        height: 18px;
        color: white;
        border-radius: 100%;
        position: absolute;
        transform: translate(10px, -6px);
    }

   

&--link{
padding-inline: 1rem;
color: #000000;
text-decoration: none;

}


h6{
    display: flex;
    text-transform: uppercase;
    flex-flow: column;
    // line-height: 45px;
     
    .cash{
        color: red;
    }
}
}

// partie de la section principale
.principale{
    padding-inline: 50px;

.principale__img {
        position: relative;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &--description{
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 90%;
            color: #000000;
            .texte{
                width: 50%;

                 
                    opacity: 0;
                    animation: fade-in 3s ease-in-out forwards;
                  
                
                  @keyframes fade-in {
                    0% {
                      opacity: 0;
                      transform: translateY(170px);
                    }
                    100% {
                      opacity: 1;
                      transform: translateY(0);
                    }
                  }
                h2::before{
                    content: " ";
                    width: 100px;
                    height: 2px;
                    display: block;  
                    background: #E55472;                  
                }

                h2{
                    display: flex;
                    align-items: center;
                    color: #E55472;
                    font-size: 20px;
                }

                h1{
                    font-size: 60px;
                }

                span{
                    display: flex;
                }
                .imgbtn{
                    color: white;
                    background-color: #E55472;
                    font-size: 20px;
                    border-radius: 15px;
                    border: none;
                    width: 170px;
                    height: 40px;
                }
            }
        }

        img{
            object-fit: cover;
            width: 100%;
            height: 90vh;
        }

}
}

// partie pour la grille a 4 photos

.grid1{
    padding-inline: 50px;

    &__grille{
        // width: 80px;
        height: auto;
        border: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: center;
        grid-gap: 15px;
        padding-top: 30px;

        .grid-item{

            img{
                width: 300px;
                height: 200px;
                transition: transform 0.5s ease-in-out;
            &:hover{
             transform: scale(1.05);
         transition: transform 0.5s ease-in-out;
         }
            }
           
        }
    }

}

.produit{
    padding-inline: 90px;
    padding-top: 65px;
    padding-bottom: 20px;

    &__img{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        padding-top: 40px;


        img {
            width: 560px;
            height: 200px;
            padding-bottom: 20px;
            transition: transform 0.5s ease-in-out;
            &:hover{
             transform: scale(1.1);
         transition: transform 0.5s ease-in-out;
         }
          }
    }
     

    &__titre{
        color: black;
        padding-bottom: 40px;


        ul{
        text-align: center;
        justify-content: center;
            font-size: 17px;
            font-weight: bold;
        li{
                
            a:focus{
                border-bottom: 4px solid #E55472; 
            }
                
             }
        }
    }
      
    &__map-slider {
        position: relative;
        width: 100%;
        margin: 0 auto;
          padding-bottom: 40px;

        .slider {
            white-space: nowrap;
            overflow-x: auto;
          }
          
      }
      
      
      .slide {
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;

        &:hover .search-icons {
            display: flex;
          }

          .top-card{
            position: relative;
          }
        .search-icons {
            position: absolute;
            bottom: 5px;;
            right: 0px;
            // transform: translate(-50%, -50%);
            display: none;

             i {
                display: block;
                 margin-right: 2px;
                font-size: 20px;
                color: #fff;
                background-color: #666666;
                padding: 10px;
              }
          }
      }
      
      .slide img {
        width: 100%;
        height: auto;
      }

      a {
        color: inherit;
        text-decoration: none;
        color: #000000;
        float: left;
        }
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        outline: none;
        color: inherit; }
      
    a:hover {
        color: #E55472; }
      
      
      @media screen and (min-width: 768px) {
        .slide {
          width: 24.7%;
        }
      }

}

.topp{
    padding-inline: 90px;
    padding-top: 35px;
    padding-bottom: 20px;

    &__titre{
        color: black;
        text-align: center;
        justify-content: center;
        font-size: 25px;
        padding-bottom: 40px;

    }

    &__map-slider {
        position: relative;
        width: 100%;
        margin: 0 auto;

        .slider {
            white-space: nowrap;
            overflow-x: auto;
          }
          
      }
      
      
      .slide {
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;

        &:hover .search-icons {
            display: flex;
          }

          .top-card{
            position: relative;
          }
        .search-icons {
            position: absolute;
            bottom: 5px;
            right: 0px;
            // transform: translate(-50%, -50%);
            display: none;

             i {
                display: block;
                 margin-right: 2px;
                font-size: 20px;
                color: #fff;
                background-color: #666666;
                padding: 10px;
              }
          }
      }
      
      .slide img {
        width: 100%;
        height: auto;
      }

      a {
        color: inherit;
        text-decoration: none;
        color: #000000;
        float: left;
        }
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        outline: none;
        color: inherit; }
      
    a:hover {
        color: #E55472; }
      
      
      @media screen and (min-width: 768px) {
        .slide {
          width: 24.7%;
        }
      }
      
}

.ico{

    padding-inline: 90px;
    padding-top: 35px;
    padding-bottom: 100px;

    &__icones {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: #eeeded;
        border: 1px solid #bebebe;
        padding-top: 30px;
        padding-bottom: 30px;

        &--icone {
            display: flex;
            // flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #666666;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            padding: 40px 30px 15px;
    
            .comment{
                display: flex;
                flex-direction: column;
                padding-left: 10px;
    
            }
          }
          
          &--icone img {
            width: 18%;
           height: auto;
         }
      }
        
}

.pied{

    padding-inline: 50px;
    padding-top: 35px;
    &__photos {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
        background-color: #eeeded;
        border: 1px solid #bebebe;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 25px;
        padding-right: 25px;
    

        &--photo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #666666;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            padding: 40px 20px ;

    
          }
          img {
            width: 90px;
           height: auto;
           transition: transform 0.3s ease-in-out;
           &:hover{
            transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
        }
         }

        
      }
           
}

footer {
    padding-inline: 50px;
    padding-bottom: 45px;

  
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #272829;
      padding-top: 95px;
      padding-bottom: 55px;
      padding-left: 45px;
      padding-right: 45px;
      
      .col {
        width: 240px;
        margin-bottom: 20px;
  
        ul {
            display: flex;
            flex-direction: column;
          list-style: none;
          padding: 0;
          color:#999999;
          margin-bottom: 30px;
          padding-bottom: 50px;
      }  

        h4 {
            margin-bottom: 10px;
            color:white;
          }
    }

    .foot{
        border-top: 1px solid #686868;
        display: flex;
        flex-wrap: wrap;
        // flex-direction: row;
        width: 100%;

        p{
            width: 50%;
        }
        
        .reseau{
            width: 50%;

            i{
                margin-right: 10px;
            }
        }

    }

    
}
}

@media screen and (max-width: 1200px) {
     header{
        nav{
            .header__menu{
                display: none;
            }

            #check:checked ~ ul{
                left: 0;
                z-index: 1;
            }

            .checkbutton{
                display: flex;
                font-size: 40px;
                color: rgb(0, 0, 0);
                float: right;
                // margin-right: 40px;
             }
        
             #check{
                display: none;
             }

            .cache {
                display: block;
                text-decoration: none;
                box-sizing: border-box;
                float: right;

                ul {
                    list-style: none;
                    float: right;
                    margin-right: 20px;
                    position: fixed;
                    width: 100%;
                    height: 110vh;
                    background-color: pink;
                    top: 100px;
                    left: -110%;
                    text-align: center;
                    transition: all .5s;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;

                    li {
                        display: block;
                        line-height: 100px;
                        margin: 0 5px;

                        a{
                            color: black;
                            font-size: 35px;
                            text-transform: uppercase;
                        }
                    }
            
                }
            }
        }
     }
    
}

@media screen and (max-width: 768px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
            margin-bottom: 1rem;
            justify-content: center;
        .site-logo{
            align-items: center;
            margin-bottom: 1rem;
            justify-content: center;
        }

       
    }
}