@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
    // background: rgb(0 100 0/.05);
}

body {
    color: #666666;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    // line-height: 1.8;
    margin: 0 auto; }

    //Partie du header
header{
    display: flex;
    justify-content: center;
}
nav{
    width: 88%;
    // height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    // line-height: 90px;
    padding-block: 15px;
    // position: fixed;
    // z-index: 1;

    .site-logo {
        float: left;
    }
    
}

ul{
    display: flex;

li{
    display: flex;
    list-style: none;

    a {
        margin: auto;
        color: inherit;
        text-decoration: none;
        color: #000000;
        padding: 0px 25px;
        }
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        outline: none;
        color: inherit; }
      
    a:hover {
        color: #E55472; }

}


}

.header__option{
    float: right;
    display: flex;
    a{
        span{
            // height: 37.5px;
            text-align: center;
            // line-height: 35px;
           
        }
        &:last-child{
            display: flex; 
            padding-bottom: 10px;

        }
    }

    span.handbag::before {
        content: "2";
        background: red;
        width: 18px;
        height: 18px;
        color: white;
        border-radius: 100%;
        position: absolute;
        transform: translate(10px, -6px);
    }

   

&--link{
padding-inline: 1rem;
color: #000000;
text-decoration: none;

}


h6{
    display: flex;
    text-transform: uppercase;
    flex-flow: column;
    // line-height: 45px;
     
    .cash{
        color: red;
    }
}
}

// partie de la section principale
.principale{
    padding-inline: 50px;

.principale__img {
        position: relative;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &--description{
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 90%;
            color: #000000;
            .texte{
                width: 50%;
                h2::before{
                    content: " ";
                    width: 100px;
                    height: 2px;
                    display: block;  
                    background: #E55472;                  
                }

                h2{
                    display: flex;
                    align-items: center;
                    color: #E55472;
                    font-size: 20px;
                }

                h1{
                    font-size: 60px;
                }

                span{
                    display: flex;
                }
                .imgbtn{
                    color: white;
                    background-color: #E55472;
                    font-size: 20px;
                    border-radius: 15px;
                    border: none;
                    width: 170px;
                    height: 40px;
                }
            }
        }

        img{
            object-fit: cover;
            width: 100%;
            height: 90vh;
        }

}
}

// partie pour la grille a 4 photos

.grid1{
    padding-inline: 50px;

    &__grille{
        // width: 80px;
        height: auto;
        border: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: center;
        grid-gap: 15px;
        padding-top: 30px;

        .grid-item{

            img{
                width: 300px;
                height: 200px;
                transition: transform 0.5s ease-in-out;
            &:hover{
             transform: scale(1.05);
         transition: transform 0.5s ease-in-out;
         }
            }
           
        }
    }

}

.produit{
    padding-inline: 90px;
    padding-top: 65px;
    padding-bottom: 20px;

    &__img{
        display: flex;
        justify-content: space-between;
        align-items: center;
                    overflow: hidden;


        img {
            width: 48%;
            height: 200px;
            transition: transform 0.5s ease-in-out;
            &:hover{
             transform: scale(1.1);
         transition: transform 0.5s ease-in-out;
         }
          }
    }
     

    &__titre{
        color: black;

        ul{
        text-align: center;
        justify-content: center;
            font-size: 17px;
            font-weight: bold;
        li{
                
            a:focus{
                border-bottom: 4px solid #E55472; 
            }
                
             }
        }
    }

    &__image-grid {
        padding-top: 40px;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;

      }
      
      .image-item {
        text-align: center;

        a {
            color: inherit;
            text-decoration: none;
            color: #000000;
            float: left;
            }
        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
            color: inherit; }
          
        a:hover {
            color: #E55472; }

        .stars {
            font-size: 15px;
          }
          
          .star {
            display: inline-block;
            margin-right: 5px;
            float: left;

          }
      }
      
      .image-item img {
        max-width: 100%;
      }
      
      .image-item p {
        margin-top: 10px;
        font-size: 14px;
      }
      

}

.topp{
    padding-inline: 90px;
    padding-top: 35px;
    padding-bottom: 20px;

    &__titre{
        color: black;
        text-align: center;
        justify-content: center;
        font-size: 25px;
    }

    &__map-slider {
        position: relative;
        width: 100%;
        margin: 0 auto;

        .slider {
            white-space: nowrap;
            overflow-x: auto;
          }
          
      }
      
      
      .slide {
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;
      }
      
      .slide img {
        width: 90%;
        height: auto;
      }

      a {
        color: inherit;
        text-decoration: none;
        color: #000000;
        float: left;
        }
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        outline: none;
        color: inherit; }
      
    a:hover {
        color: #E55472; }
      
      
      @media screen and (min-width: 768px) {
        .slide {
          width: 24.7%;
        }
      }
      
}

.ico{

    padding-inline: 90px;
    padding-top: 35px;
    padding-bottom: 100px;

    &__icones {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: #eeeded;
        border: 1px solid #bebebe;
        padding-top: 30px;
        padding-bottom: 30px;

        &--icone {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #666666;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            padding: 40px 30px 15px;
    
            .comment{
                display: flex;
                flex-direction: column;
                padding-left: 10px;
    
            }
          }
          
          &--icone img {
            width: 50px;
           height: auto;
         }
      }
        
}

.pied{

    padding-inline: 50px;
    padding-top: 35px;
    &__photos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: #eeeded;
        border: 1px solid #bebebe;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 25px;
    padding-right: 25px;

        &--photo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #666666;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            padding: 40px 20px ;

    
          }
          img {
            width: 90px;
           height: auto;
           transition: transform 0.3s ease-in-out;
           &:hover{
            transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
        }
         }

        
      }
           
}

footer {
    padding-inline: 50px;
    padding-bottom: 45px;

  
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #272829;
      padding-top: 95px;
      padding-bottom: 55px;
      padding-left: 45px;
      padding-right: 45px;
      
      .col {
        width: calc(20% - 20px);
        margin-bottom: 20px;
  
        ul {
            display: flex;
            flex-direction: column;
          list-style: none;
          padding: 0;
          color:#999999;
          margin-bottom: 30px;
          padding-bottom: 50px;
      }  

        h4 {
            margin-bottom: 10px;
            color:white;
          }
    }

    .foot{
        border-top: 1px solid #686868;
        display: flex;
        flex-direction: row;
        width: 100%;

        p{
            width: 50%;
        }
        
        .reseau{
            width: 50%;

            i{
                margin-right: 10px;
            }
        }

    }

    
}
}